name: Scrape

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - 'scripts/**.py'
      - '.github/workflows/scrape.yaml'
  schedule:
    - cron: '0 8 * * *' # every morning
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v6

      - name: Scrape
        uses: p3lim/dbc-helper@master
        id: scraper
        with:
          # beta: true
          ptr: true
          files: |
            scripts/dungeons: data/dungeons.lua

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        # requires permissions, see https://github.com/peter-evans/create-pull-request#workflow-permissions
        with:
          title: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          commit-message: Update ${{ steps.scraper.outputs.flavor }} data to ${{ steps.scraper.outputs.version }}
          body: ''
          branch: update-data-${{ steps.scraper.outputs.flavor }}
          delete-branch: true
